<ion-header>
  <title>admin</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">     
   <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</ion-header>

<ion-content class="adminPage">
  <div class="pagecontainer">
  <div class="fixHdr">
    <div class="topNav topNavAnchor"><i class="ti-menu"></i></div> 
    <div class="topPageTitle"><h5>Dashboard</h5></div>  
    <div class="topNotif"><a href="#"><i class="ti-bell"></i></a></div>
   </div> <!--fixHdr ends--> 
  
  <div class="slideNav"><span class="closeMainNav">x</span>
    <ul class="slideNavList">
      <li><a href="">Students</a></li>
      <li><a href="">Announcements</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Reports</a></li>
      <li><a href="">Settings</a></li>
      <li><a href="">Logout</a></li>
    </ul>
  </div><!--mainNav ends-->
  
  <div class="mainContainer">
  
  <div class="welcomeRow">
    
    <div class="profileImage"><img src="../../../../assets/images/i1.png"/></div>
    <div class="profileName"><h3>Don Bosco Public School</h3><a href="" class="profileMore"><i class="ti-angle-right"></i></a></div>
  </div><!--welcomeRow ends-->
  
  
  
  <div class="actionsBlock">
   <ul class="actions">
   <li><a href=""><i class="ti-plus"></i> Add Student <i class="ti-angle-right"></i></a></li> 
   <li><a href=""><i class="ti-eye"></i>View Student <i class="ti-angle-right"></i></a></li>
   <li><a href=""><i class="ti-upload"></i>bulk upload students <i class="ti-angle-right"></i></a></li>
    <li><a href=""><i class="ti-calendar"></i>Events <i class="ti-angle-right"></i></a></li>
   <li><a href=""><i class="ti-microphone-alt"></i>Announcements <i class="ti-angle-right"></i></a></li>
   <li><a href=""><i class="ti-clipboard"></i>Reports <i class="ti-angle-right"></i></a></li>
  
  </ul>
  </div><!--studentActions -->
  
  
  
  
  
  </div><!--mainContainer-->
  
  <div class="clear"></div> 
  
  
   
   <div class="fixftr">
    <div class="myhome"><a href="home.html"><i class="ti-home"></i></a></div> 
    <div class="prevP"><a href=""><i class="ti-comment"></i></a></div>
    
    <div class="myFavourites"><a href=""><i class="ti-book"></i></a></div>
    <div class="nextP"><a href="#"><i class="ti-calendar"></i></a></div>    
     <div class="nextP"><a href="#"><i class="ti-user"></i></a></div>  
   </div> <!--fixftr ends--> 
   
   <a href="javascript:void(0);" class="scrollup" style="display: block;">↑</a>
  
    
     </div> <!--homePagecontainer ends-->
  </ion-content>
  
