<ion-header>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">     
   <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
</ion-header>

<ion-content class="homePage">
  <div class="pagecontainer">
  <div class="hHdr">
   <div class="topNavLogo"><h1><a href="#"><img src="../../../../assets/images/school-app-logo.png"/></a></h1></div>
    
    <div class="pageToFro"><a href="" class="backBtn"><i class="ti-arrow-left"></i></a> <h4>Register</h4></div>
  </div><!--fixHdr ends-->
  
  
  
  <div class="mainContainer">
  
  <h5 class="orHead">Register Your Institute</h5>
  <div class="registerLogin">
  <form>
    <input type="text" placeholder="Institute Name"/>
    <input type="text" placeholder="City"/>
    <input type="text" placeholder="State"/>
    <input type="text" placeholder="District"/>
    <input type="text" placeholder="Pin"/>
    <div class="logoImageUpload">
    <p>Upload Institute Logo</p>
    <div class="logoPreview"></div>
    <input type="file" id="myFile" name="filename">
    </div>
    <input type="submit" value="Sign Up"/>
  </form>
  </div>
  
  <p class="troubleMsg">Trouble Signing Up? <a href="">Contact</a> your admin</p>
  
  </div><!--mainContainer-->
  
  <div class="clear"></div> 
  
  
   
   <a href="javascript:void(0);" class="scrollup" style="display: block;">↑</a>
  
    
     </div> <!--homePagecontainer ends-->
  </ion-content>