

.hHdr{ width: 100%; float: top;  position:relative; padding: 0; justify-content: center; text-align: center; background: #f9f9f9; z-index: 999; align-items: center; flex:1; margin:0 auto;}
.hHdr .topNavAnchor {float:left; text-align:left; flex:1; cursor:pointer;}
.hHdr .topNotif {float:left; text-align:center; flex:1;}
.hHdr .topNavLogo {clear:both; display:block; text-align:center; padding: 15px 0px 0px;}
.hHdr .topSettingsAnchor {float:left;  text-align:center; flex:1;}
.hHdr .topInCrisis {float:left;  text-align:right; flex:1;}
.hHdr i{color:#fff;}
.hHdr .topNotif a img{width:60%;}
.hHdr .topNavLogo a{display:block;}
.hHdr img{width:100px; }

.hHdr > .topNavLogo{display:block;}
.hHdr.sticky-header > .topNavLogo{display:none;}

.hHdr .topNavAnchor img, .hHdr .topSettingsAnchor img{width:90%;}
.topInCrisis a{display:block;}.topInCrisis a img{width:110%; border-radius: 50%;}


p.aCentre{text-align:center; margin:0; padding:0;}
ul.siginTypes{clear:both; display:block; padding:10px; margin-bottom:20px;}
ul.siginTypes::after{content:""; height:1px; width:100%; clear:both; display:block;}
ul.siginTypes li{display:block; clear:both; background:#fff; text-align:center;  border-radius: 5px;background: #ffffff; -webkit-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); -moz-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); margin-bottom: 15px; text-align: center;
    width: 70%;  margin: 0px auto 20px;  padding: 10px;  font-size: 16px; border:2px solid #0b68d1; color:#0b68d1; } 
	ul.siginTypes li:hover{background:#0b68d1; color:#fff;}

h5.orHead{font-size: 18px; padding: 7px 20px 7px;  color: #747474;  font-weight: normal; text-align:center;}
h5.orHead:after{content:""; height:3px; background:#333; width:40px; clear:both; display:block; margin:10px auto 20px;}

.registerLogin input[type="text"]{font-size:16px; border:none; border-bottom:1px solid #ebebeb; margin-bottom:20px; color:#242424; clear:both; display:block; width:70%; margin:0px auto 20px;}
.registerLogin p{width: 100%; margin: 0 auto;}
.registerLogin input[type="file"]{float:left; margin-bottom: 20px; padding-top: 75px;}
.registerLogin input[type="password"]{border:none; font-size:16px;  border-bottom:1px solid #ebebeb; margin-bottom:20px; color:#242424; clear:both; display:block; width:70%; margin:0px auto 20px;}
.registerLogin input[type="submit"]{background:#0b68d1; font-size:16px;  color:#fff; clear:both; display:block; width:70%; margin:0px auto 20px; padding:15px 0px;}



p.troubleMsg{background:none; padding:0px; text-align:center;}
p.troubleMsg a{color:#0b68d1;}
.logoImageUpload{width:70%; margin:0 auto;}
.logoImageUpload::after{content:""; clear:both; display:block; height:1px; width:100%; margin-bottom:20px; }
.logoPreview{width:100px; height:100px; float:left; margin-right:20px; border:1px solid #ebebeb;}
.logoPreview img{width:100%; height:auto;}

@media (max-width: 767px) {


p.aCentre{text-align:center; margin:0; padding:0;}
ul.siginTypes{clear:both; display:block; padding:10px; margin-bottom:20px;}
ul.siginTypes::after{content:""; height:1px; width:100%; clear:both; display:block;}
ul.siginTypes li{display:block; clear:both; background:#fff; text-align:center;  border-radius: 5px;background: #ffffff; -webkit-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); -moz-box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); box-shadow: -1px 2px 8px 1px rgba(0,0,0,0.1); margin-bottom: 15px; text-align: center;
    width: 70%;  margin: 0px auto 20px;  padding: 10px;  font-size: 16px; border:2px solid #0b68d1; color:#0b68d1; } 
	ul.siginTypes li:hover{background:#0b68d1; color:#fff;}

h5.orHead{font-size: 18px; padding: 7px 20px 7px;  color: #747474;  font-weight: normal; text-align:center;}
h5.orHead:after{content:""; height:3px; background:#333; width:40px; clear:both; display:block; margin:10px auto 20px;}
.userLogin input[type="text"]{font-size:16px; border:none; border-bottom:1px solid #ebebeb; margin-bottom:20px; color:#242424; clear:both; display:block; width:70%; margin:0px auto 20px;}
.userLogin input[type="password"]{border:none; font-size:16px;  border-bottom:1px solid #ebebeb; margin-bottom:20px; color:#242424; clear:both; display:block; width:70%; margin:0px auto 20px;}
.userLogin input[type="submit"]{background:#0b68d1; font-size:16px;  color:#fff; clear:both; display:block; width:70%; margin:0px auto 20px; padding:15px 0px;}

p.troubleMsg{background:#ebebeb; padding:20px; text-align:center;}
p.troubleMsg a{color:#0b68d1;}

.registerLogin input[type="file"] { margin-left: 0%;  margin-bottom: 20px;  width: 60%;  padding-top: 45px;  display: inline-block;}
.logoPreview {  width: 70px;  height: 70px; margin-right: 20px;  border: 1px solid #ebebeb;  display: inline-block;}

}



* {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}



html{height:100%;}
* { margin: 0; padding: 0; border: 0; transition: all .5s ease;}

a { color:#000; text-decoration:none;  font-family: 'Archivo Narrow';}
a:hover { text-decoration:none; color:#ee552a;}
li { list-style:none; }
p { line-height:22px; padding:0 0 1.3em; }
img {
	border:none;
}
a img {
	border:none;
}
ul{list-style:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;  }
/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */

ul,ol         { list-style:none; font-size: 12px; -webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 0; margin-left:0px;}

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
.clear{clear:both; display:block;}
.clear40{clear:both; height:40px; display:block;}
.clear20{clear:both; height:20px; display:block;}
input{font-family: 'Archivo Narrow';}

/* ======================================================================================= */








body { 
  font-size:14px; font-family: 'Archivo Narrow';
  color:#242424; overflow-x:hidden; background:#fff; height:100%; display:flex; flex-direction:column;
}
/*******************************************************************************grid*******************************/

.pagecontainer{display:block; width:100%;  background:#fff;}
.fixHdr{ width: 100%;  position:fixed; padding: 0; justify-content: center; text-align: center; background: #f9f9f9; z-index: 999; align-items: center; flex:1; margin:0 auto;}
.fixHdr .topNavAnchor {float:left; text-align:left; flex:1; cursor:pointer; padding-left:20px;}
.fixHdr .topNotif {float:left; text-align:center; flex:1;}
.fixHdr .topNavLogo {clear:both; display:block; text-align:center; padding: 15px 0px 0px;}
.fixHdr .topSettingsAnchor {float:left;  text-align:center; flex:1;}
.fixHdr .topInCrisis {float:left;  text-align:right; flex:1;}
.fixHdr i{color:#fff;}
.fixHdr .topNotif a img{width:60%;}
.fixHdr .topNavLogo a{display:block;}
.fixHdr img{width:25%; }

.fixHdr > .topNavLogo{display:block;}
.fixHdr.sticky-header > .topNavLogo{display:none;}

.fixHdr .topNavAnchor img, .fixHdr .topSettingsAnchor img{width:90%;}
.topInCrisis a{display:block;}.topInCrisis a img{width:110%; border-radius: 50%;}
.fixftr{display:flex; flex:1; text-align:center; background: #f8a126; justify-content: center; text-align: center; align-items:center;bottom: 0;
    position: fixed; width: 100%; z-index: 9999;  padding: 10px 0px;}
.fixftr > div{flex:1; flex-direction:row;}
.fixftr .prevP{text-align:center; } .fixftr .nextP{text-align:center;}
.fixftr > div img{width:50%;}
.fixftr a i{color:#fff; font-size:16px;}

.pageToFro{background:#0b68d1; color:#fff; padding: 1% 5%; text-align:left; font-size: 18px;}
a.backBtn{display:inline-block; margin-right:20px;}
.pageToFro h4{font-weight:normal;}

.mainNav{width:100%; height:auto; position:absolute; padding-bottom:20%; top:0; left:-100%; background:#cb0ac4; color:#fff; z-index:9999; display:none;}
.mainNav span.closeMainNav{text-align:center; display:block; clear:both; font-size:36px; margin:20px; margin: 20px 0px 0px;}
.mainNav ul.mainNavList{padding: 20px;}.mainNav ul.mainNavList li{display:block; clear:both; margin-bottom: 10px; border-bottom:1px solid #fff;} 
.mainNav ul.mainNavList li a{display:block; clear:both;  color:#fff; font-size: 16px; text-transform:uppercase; padding:10px 0px;}

// .mainContainer{background:#fff;  margin-top: 190px; padding-bottom: 50px; width: 60%; margin: 20px auto;}

.topSearch{border:1px solid #ebebeb; border-radius:4px; padding:10px; margin: 10px auto; clear:both; display:block; }
.topSearch i{margin-right:10px; font-size:20px;}
.topSearch input[type="text"]{width: 88%; float: right; line-height: 24px; background: none;}

.scrollup {
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: block;
    background: #0c4a6f;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 10px 20px;
    background: rgba(0,0,0,.8);
    text-decoration: none;
}


.footer{clear:both; display:block; padding:5%; text-align:center;}
.footer h5{font-size:16px; text-align:center; margin-bottom:20px;}
.footer ul.ftrLinks{clear:both; display:block; margin:0px auto 20px;}
.footer ul.ftrLinks:after{content:""; height:1px; width:100%; clear:both; display:block;}
.footer ul.ftrLinks li {width:50%; float:left; text-align:center; line-height: 24px;}
.footer ul.ftrLinks li a{font-size:14px; }
.footer ul.socialLinks{clear:both; display:block; margin:0px auto 20px;}
.footer ul.socialLinks li{display:inline-block; margin:0px 20px;}

@media (max-width: 767px) {
.pageToFro{background:#0b68d1; color:#fff; padding: 2% 5%; text-align:left; font-size: 14px;}

.mainContainer{background:#fff;  margin-top: 50px; padding-bottom: 50px; width: 100%;}

}